DEBUG=True
SECRET_KEY=django-insecure-a059(0mqbfm7#(b=xi@@)b0uo0b4a)dsx^p-tpt(+%e1hl)tpl

ALLOWED_HOSTS=*

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=qr_project_db
DATABASE_USER=postgres
DATABASE_PASSWORD=Ab@123456
DATABASE_HOST=localhost
DATABASE_PORT=5432